.container-fluid{
    display: flex;justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.myFlex{
display: flex;justify-content: flex-end;
align-items: center;
}
.justify-start{
    justify-content: flex-start;
    display: flex;
}
.divs{
    width: inherit;
    height: 6vh;
}
.container::before{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(1, 1, 1, 0.447);
    margin: 0;
    padding: 0;
}